{% extends "homeEmpleados.html" %}
{% load static %}

{% block contenido %}
{% if empleado %}
<div class="contenido"> 
    <h2>DETALLES DEL EMPLEADO {{empleado.id}}</h2>

    <ul class="detalles">
        <li>
            <p><b>Nombre y Apellidos: </b>{{empleado.nombre}} {{empleado.apellidos}} </p>
        </li>
        <li>
            <p><b>DNI: </b>{{empleado.dni}}</p>
        </li>
        <li>
            <p><b>Teléfono: </b>{{empleado.telefono}}</p>
        </li>
        <li>
            <p><b>Email: </b>{{empleado.email}}</p>
        </li>
    </ul>

    {% else %}
    <p>No existe este empleado.</p>
    {% endif %}

    <a href="{% url 'gestion:listado-empleado' %}"><img class="atras" src="{% static 'images/back.png' %}" width="100px" title="Pulsa para volver a la página anterior"></a>
    
</div>
{% endblock %}