{% extends "homeTickets.html" %}
{% load static %}

{% block contenido %}
{% if ticket %}
<div class="contenido"> 
    <h2>DETALLES DEL TICKET {{ticket.id}}</h2>

    <ul class="detalles">
        <li>
            <p><b>Numero de referencia: </b>{{ticket.nref}} </p>
        </li>
        <li>
            <p><b>Titulo: </b>{{ticket.titulo}}</p>
        </li>
        <li>
            <p><b>Descripcion: </b>{{ticket.descripcion}}</p>
        </li>
        <li>
            <p><b>Fecha de apertura: </b>{{ticket.fechaApertura}}</p>
        </li>
        <li>
            <p><b>Fecha de resolucion: </b>{{ticket.fechaResolucion}} </p>
        </li>
        <li>
            <p><b>Nivel de urgencia: </b>{{ticket.nivelUrgencia}} </p>
        </li>
        <li>
            <p><b>Tipo de ticket: </b>{{ticket.tipo}}</p>
        </li>
        <li>
            <p><b>Estado de ticket: </b>{{ticket.estado}}</p>
        </li>
        <li>
            <p><b>Empleado: </b>{{ticket.empleado}}</p>
        </li>
        <li>
            <p><b>Tiquet del equipo: </b>{{ticket.equipo}}</p>
        </li>
        <li>
            <p><b>Comentarios: </b>{{ticket.comentarios}}</p>
        </li>
    </ul>

    {% else %}
    <p>No existe el ticket seleccionado.</p>
    {% endif %}

    <a href="{% url 'gestion:listado-ticket' %}"><img class="atras" src="{% static 'images/back.png' %}" title="Pulsa para volver a la página anterior"></a>
</div>
{% endblock %}