{% extends "homeEquipos.html" %}
{% load static %}

{% block contenido %}
{% if equipo %}
<div class="contenido"> 
    <h2>DETALLES DEL EQUIPO {{equipo.id}}</h2>

    <ul class="detalles">
        <li>
            <p><b>Número de serie: </b>{{equipo.nserie}} </p>
        </li>
        <li>
            <p><b>Modelo: </b>{{equipo.modelo}}</p>
        </li>
        <li>
            <p><b>Marca: </b>{{equipo.marca}}</p>
        </li>
        <li>
            <p><b>Tipo: </b>{{equipo.tipo}}</p>
        </li>
        <li>
            <p><b>Fecha de Adquisición: </b>{{equipo.fechaAdquisicion}} </p>
        </li>
        <li>
            <p><b>Fecha de puesta en marcha: </b>{{equipo.fechaPuestaMarcha}} </p>
        </li>
        <li>
            <p><b>Nombre y teléfono del proveedor: </b>{{equipo.provNombre}} . {{equipo.provTelefono}}</p>
        </li>
        <li>
            <p><b>Planta: </b>{{equipo.planta}}</p>
        </li>
    </ul>

    {% else %}
    <p>No existe el equipo seleccionado.</p>
    {% endif %}

    <a href="{% url 'gestion:listado-equipo' %}"><img class="atras" src="{% static 'images/back.png' %}" title="Pulsa para volver a la página anterior"></a>
</div>
{% endblock %}