{% extends "homeTickets.html" %}
{% load static %}

{% block contenido %}
<div class="contenido">

    <div id="mas">
        <p><b>Alta ticket</b></p>
        <a href="{% url 'gestion:crear-ticket' %}"><img class="crear" src="{% static 'images/añadirusr.png' %}" width="70px" title="Crear ticket nuevo"></a>        
    </div>
    <h1>LISTA DE TICKETS:</h1>

    {% if object_list %}
        {% for ti in object_list %}
        <ul>
            <div class="objetos">
                <span></span><b>Numero de referencia: </b>{{ti.nref}}</span> &emsp;&emsp;&emsp;
                <b>Titulo: </b>{{ti.titulo}}</span> &emsp;&emsp;&emsp;
                <b>Descripción: </b>{{ti.descripcion}}</span>
                <a id="objetos1" href="{% url 'gestion:detalle-ticket' ti.id %}"><img src="{% static 'images/info.png' %}"  title="Pulsa para ver los detalles del ticket" width="50px"></a>
                <a id="objetos1" href="{% url 'gestion:borrar-ticket' ti.id %}"><img src="{% static 'images/delete.png' %}" title="Haz clic para eliminar al ticket" width="50px"></a>
                <a id="objetos1" href="{% url 'gestion:modificar-ticket' ti.id %}"><img src="{% static 'images/editar.png' %}" title="Haz clic para editar este ticket" width="50px" ></a>
            </div>
        </ul>
        {% endfor %}
    {% else %}
        <h1>No hay tickets disponibles</h1>
    {% endif %}
</div>
{% endblock %}