{% extends "homeTickets.html" %}
{% load static %}

{% block contenido %}
<div class="contenido">
    <h1>Lista de tickets:</h1>
    <div id="mas">
        <a href="http://127.0.0.1:8000/AppWeb/creaTicket/"><img class="crear" src="{% static 'images/mas.png' %}" width="50px" title="Crear ticket nuevo"></a>        
    </div>
    {% if object_list %}
        {% for ti in object_list %}
        <ul>
            <div class="objetos">
                <b>Numero de referencia: </b><p>{{ti.nref}}</p><br>
                <b>Titulo:</b><p>{{ti.titulo}}</p><br>
                <b>Descripcion:</b><p>{{ti.descripcion}}</p><br>
                <a href="{% url 'gestion:borrar-ticket' ti.id %}"><img src="{% static 'images/delete.png' %}" title="Haz clic para eliminar el ticket" width="50px"></a>
            </div>
        </ul>
        {% endfor %}
    {% else %}
        <h1>No hay tickets disponibles</h1>
    {% endif %}
</div>
{% endblock %}