{% extends "homeEmpleados.html" %}
{% load static %}

{% block contenido %}
<div class="contenido">
    <h1>Lista de empleados:</h1>
    <div id="mas">
        <a href="http://127.0.0.1:8000/AppWeb/creaEmpleado/"><img class="crear" src="{% static 'images/mas.png' %}" width="50px" title="Crear un empleado nuevo"></a>        
    </div>
    {% if object_list %}
        {% for emp in object_list %}
        <ul>
            <div>
                <p>ID Empleado: {{emp.id}}</p><br>
                <p>Nombre y apellidos:</p>{{emp.nombre}} {{emp.apellidos}}</p><br>
                <p>DNI:</p> {{ emp.dni }}<br>
                <a href="{% url 'gestion:borrar-empleado' emp.id %}"><img src="{% static 'images/delete.png' %}" title="Haz clic para eliminar al empleado"></a>
            </div>
        </ul>
        {% endfor %}
    {% else %}
        <h1>No hay empleados disponibles</h1>
    {% endif %}
</div>
{% endblock %}