{% extends "homeEmpleados.html" %}
{% load static %}

{% block contenido %}
<div class="contenido">
    <h1>Lista de empleados:</h1>
    <div id="mas">
        <a href="{% url 'gestion:crear-empleado' %}"><img class="crear" src="{% static 'images/mas2.gif' %}" width="100px" title="Crear un empleado nuevo"></a>        
    </div>
    {% if object_list %}
        {% for emp in object_list %}
        <ul>
            <div class="objetos">
                <b>ID Empleado: </b><p>{{emp.id}}</p><br>
                <b>Nombre y apellidos:</b><p>{{emp.nombre}} {{emp.apellidos}}</p><br>
                <b>DNI:</b><p>{{ emp.dni }}</p><br>
                <a href="{% url 'gestion:detalle-empleado' emp.id %}"><img src="{% static 'images/info.png' %}"  title="Pulsa para ver los detalles del empleado" width="50px"></a>
                <a href="{% url 'gestion:borrar-empleado' emp.id %}"><img src="{% static 'images/delete.png' %}" title="Haz clic para eliminar al empleado" width="50px"></a>
                <a href="{% url 'gestion:modificar-empleado' emp.id %}"><img src="{% static 'images/editar.png' %}" title="Haz clic para editar este empleado" width="50px" ></a>
            </div>
        </ul>
        {% endfor %}
    {% else %}
        <h1>No hay empleados disponibles</h1>
    {% endif %}
</div>
{% endblock %}