{% extends "homeEquipos.html" %}
{% load static %}

{% block contenido %}
<div class="contenido">
    <h1>Lista de equipos:</h1>
    <div id="mas">
        <a href="{% url 'gestion:crear-equipo' %}"><img class="crear" src="{% static 'images/mas.png' %}" width="50px" title="Crear equipo nuevo"></a>        
    </div>
    {% if object_list %}
        {% for eq in object_list %}
        <ul>
            <div class="objetos">
                <b>Numero de serie: </b><p>{{eq.nserie}}</p><br>
                <b>Modelo: </b><p>{{eq.modelo}}</p><br>
                <b>Marca: </b><p>{{eq.marca}}</p><br>
                <a href="{% url 'gestion:detalle-equipo' eq.id %}"><img src="{% static 'images/info.png' %}"  title="Pulsa para ver los detalles del equipo" width="50px"></a>
                <a href="{% url 'gestion:borrar-equipo' eq.id %}"><img src="{% static 'images/delete.png' %}" title="Haz clic para eliminar el equipo" width="50px"></a>
                <a href="{% url 'gestion:modificar-equipo' eq.id %}"><img src="{% static 'images/editar.png' %}" title="Haz clic para editar este equipo"  width="50px" ></a>
            </div>
        </ul>
        {% endfor %}
    {% else %}
        <h1>No hay equipos disponibles</h1>
    {% endif %}
</div>
{% endblock %}