/*Estilos del encabezado y logo*/

header {
    background: black;
    border-bottom: 5px solid rgba(14, 66, 209, 0.767);
}

#logo {
    width: 12%;
    display: flex;
    margin-bottom: 15px;
}

/*Estilos para la navegacion*/

nav {
    border-bottom: 5px solid black;
    width: 100%;
    height: 50px;
    background: rgb(14, 66, 209);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    justify-content:right;
    margin: 0%;
    margin-bottom: 0px;
}

nav ul li {
    list-style: none;
    margin-bottom: 0px;


}

nav ul li a {
    font-family: cursive;
    display: block;
    margin-right: 15px;
    padding: 0 40px;
    text-decoration:wavy;
    text-transform:uppercase;
    line-height:45px;
    margin-bottom: 0px;
    color: black;
    
}

nav ul li a:hover,
nav ul li a.active {
    border: 3px solid;
    border-color: rgb(32, 23, 165);
    background-color: rgb(245, 245, 237);
    border-top-color: rgb(26, 20, 112);
    border-bottom-color: rgb(32, 23, 165);
    border-left-color:rgb(53, 118, 172);
    border-right-color:rgb(53, 118, 172);
}

.enlaces {
    display: flex;
    align-items: right;
}

/*Estilos del footer*/

footer {
    background-color: #333;
    color: #fff;
  }
  
.piePagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
  
#proteccion {
    font-size: 0.8rem;
}
  
.logoInferior {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
}

#logo_admin{
    width: 100px;
}

#otros {
    list-style: none;
}

/*Estilos paginas de borrado*/

h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
button {
    background-color: #0077cc;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
button.si:hover {
    background-color: #ff0d0d;
}
  
button.no:hover {
    background-color: #ddd;
    color: #333;
    border: 1px solid #aaa;
    text-decoration: none;
}
  
.volver {
    color: inherit;
    text-decoration: none;
}
  
a.volver:hover {
    text-decoration:dashed;
}

/*Estilos paginas de detalles*/

/*Estilos paginas de listado*/
.contenido {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}
.crear {
    margin-left: 45%;
    margin-bottom: 20px;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.objetos {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



/*Estilos paginas de creacion y edicion*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
label {
    font-weight: bold;
    margin-top: 10px;
}

button.Guardar:hover {
    background-color: #11f524;
    color: #333333;
    border: 1px solid #aaa;
    text-decoration: none;
}

.atras{
    width: 180px;
    margin-left: 45%;
    margin-bottom: 10px;
    margin-top: 15px;
}