/*Estilos del encabezado y logo*/

header {
    background: black;
    border-bottom: 5px solid rgba(14, 66, 209, 0.767);
}

#logo {
    width: 12%;
    display: flex;
    margin-bottom: 15px;
}

/*Estilos para la navegacion*/

nav {
    border-bottom: 5px solid black;
    width: 100%;
    height: 50px;
    background: rgb(14, 66, 209);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    justify-content:right;
    margin: 0%;
    margin-bottom: 0px;
}

nav ul li {
    list-style: none;
    margin-bottom: 0px;


}

nav ul li a {
    font-family: cursive;
    display: block;
    margin-right: 15px;
    padding: 0 40px;
    text-decoration:wavy;
    text-transform:uppercase;
    line-height:45px;
    margin-bottom: 0px;
    color: black;
    
}

nav ul li a:hover,
nav ul li a.active {
    border: 3px solid;
    border-color: rgb(32, 23, 165);
    background-color: rgb(245, 245, 237);
    border-top-color: rgb(26, 20, 112);
    border-bottom-color: rgb(32, 23, 165);
    border-left-color:rgb(53, 118, 172);
    border-right-color:rgb(53, 118, 172);
}

.enlaces {
    display: flex;
    align-items: right;
}

/*Estilos del footer*/

footer {
    background-color: #333;
    color: #fff;
  }
  
.piePagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
  
#proteccion {
    font-size: 0.8rem;
}
  
.logoInferior {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
}

#logo_admin{
    width: 100px;
}

#otros {
    list-style: none;
}

/*Estilos paginas de borrado*/

h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
button {
    background-color: #0077cc;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botonno {
    background-color: #0077cc;
    text-decoration: none;
    color: #fff;
    margin:10px;
    font-size: 18px;
    padding: 11px 15px 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.si:hover {
    background-color: #ff0d0d;
}
  
button.no:hover {
    background-color: #ddd;
    color: #333;
    border: 1px solid #aaa;
    text-decoration: none;
}

.volver {
    color: inherit;
    text-decoration: none;
}
  
a.volver:hover {
    text-decoration:dashed;
}

/*Estilos paginas de detalles*/

.detalles{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Estilos paginas de listado*/
.contenido {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}
.crear {
    margin-left: 45%;
    margin-bottom: 20px;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.objetos {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



/*Estilos paginas de creacion y edicion*/

form {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
label {
    font-weight: bold;
    margin-top: 10px;
}

button.Guardar:hover {
    background-color: #11f524;
    color: #333333;
    border: 1px solid #aaa;
    text-decoration: none;
}

.atras{
    width: 180px;
    margin-left: 40%;
    margin-bottom: 10px;
    margin-top: 15px;
}

a{
    color: white;
    text-decoration: none;
}

/*Estilos extra de js*/

#logadmin {
    color: black;
    }

#zoom{
    display: inline-flex;
    margin-right: 1400px;
    margin-top: 3px;
    position: absolute;
}

#botondcha{
    margin-left: 3px;
    margin-right: 3px;
}

.tamaño{
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    margin-top: 0;
} 

.tamaño:hover{
    background: #007bff;
    color: white;
}

/*Ventana de Login*/

.contenidoLog {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 650px;
    margin-top: 150px;
    margin-right: 650px;
}

#logoLog img {
    margin-top: 30px;
    width: 130px;
    height: 130px;

}

#formularioLog {
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#usuarioLog {
    display: flex;
    align-content: flex-start;
    margin-bottom: 30px;

}

#usuarioLog input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.addonLog {
    margin-left: 15px;
    background-color: #0099CC;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.addon-texto {
    color: #000000;
}

#addon-mb {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.botonLog {
    background-color: #0099CC;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    transition: all 0.3s ease;
}

.botonLog:hover {
    background-color: #005CA9;
}

#mensaje {
    color: #FF0000;
    font-size: 14px;
    margin-top: 10px;
}
.flexCentro{
    margin-left: 50px;
}

#mt-2 {
    color: black;
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
}

#mt-2 i {
    font-style: normal;
}